@import '~purecss/build/pure.css';

body {
    background-color: #ddd;
    margin-top: 20px;
}
.container {
    margin-left: 20px;
}

.color-picker-container {
    margin-bottom: 20px;
}
header {
    display: flex;
    align-items: center;
    img {
        width: 60px;
        margin-right: 30px;
    }
}
button {
    margin-right: 15px;
}
